/* Variables */
:root {
  --tcolor1: rgb(109, 108, 108);
  --tcolor2: rgb(41, 40, 40);
  --bcolor1: #9867c5;
  --hcolor1: rgb(199, 195, 195);
  --logo_color: rgb(135 135 135);
}

/* Navbar and Chat box */
/* Navbar */
#navbar {
  margin: 0px 0px;
}

#navbar ul {
  margin: 0px 0px;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  height: 6rem;
  z-index: 10000;
  position: fixed;
  justify-content: center;
}

#navbar ul li {
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all;
  transition-duration: 0.3s;
}

#navbar a:hover {
  color: var(--hcolor1);
}

#navbar img {
  position: absolute;
  left: 2rem;
  height: 3.9375rem;
  width: 4.6875rem;
}

/* Chat Box */
#Chat_Box {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  background-color: var(--bcolor1);
  color: white;
  border: 0px solid red;
  border-radius: 0.5625rem;
  width: 11.875rem;
  height: 3.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  z-index: 200;
}

#Chat_Box img {
  margin-right: 0.625rem;
  width: 1.875rem;
  height: 1.875rem;
}

/* Greet */
.greet {
  height: 55rem;
  width: 100%;
}

.greet div:first-child {
  color: white;
  font-size: 2rem;
  position: relative;
  top: 17.625rem;
  text-align: center;
  width: 100%;
  margin: auto;
}

.greet img {
  width: 60px;
  height: 10px;
  object-fit: contain;
  object-position: center center;
}

.welcome {
  color: white;
  font-weight: 1000;
  font-size: 6rem;
  position: relative;
  top: 18.875rem;
  width: 100%;
  margin: auto;
  text-align: center;
}

/* White Space */
#WhiteSection {
  position: relative;
  top: 27rem;
  z-index: 10;
  background-color: white;
  margin: auto;
  height: 59.25rem;
  width: 61.41875rem;
}

#WhiteSection label {
  font-size: 0.8125rem;
  color: rgb(77, 75, 75);
  font-family: "Raleway", sans-serif;
}

#WhiteSection div {
  margin-top: 1.5625rem;
  display: flex;
  flex-direction: column;
}

#WhiteSection div p a {
  text-decoration: none;
  color: var(--tcolor1);
}

#WhiteSection input[type="date"] {
  text-align: center;
  width: 11.25rem;
  padding: 0.1875rem 0rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--tcolor1);
}

#WhiteSection input[type="number"] {
  width: 3.75rem;
  padding: 0.3125rem 0rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--tcolor1);
}

#search {
  border-radius: 0.25rem;
  border: 0.10625rem solid black;
  background-color: var(--bcolor1);
  color: white;
  font-weight: 700;
}

#search:hover {
  background-color: rgb(118, 67, 129);
}

/* Book */
#book {
  justify-content: space-evenly;
}

/* Details */
#details {
  flex-direction: column;
  margin-top: 2.5rem;
}

#details div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 61.375rem;
  margin: 0px 0px;
}

#details div p {
  order: 0;
}

#details div p > span {
  padding-bottom: 1.125rem;
}

#details div p > a {
  color: var(--bcolor1);
  transition: all;
  transition-duration: 0.3s;
}

#details div p > a:hover {
  color: var(--hcolor1);
}

#sofa {
  order: 1;
  width: 38.625rem;
  height: 18.75rem;
  box-sizing: border-box;
}

#bed {
  width: 53.125rem;
  height: 18.75rem;
  box-sizing: border-box;
}

#d1 {
  /* color: rgb(77, 75, 75); */
  color: var(--tcolor1);
  font-size: 2rem;
  margin-bottom: 2.25rem;
}

#d2 {
  color: var(--tcolor1);
  margin: auto 6.1875rem;
  text-align: center;
  margin-bottom: 3.125rem;
}

#d3 {
  color: white;
  font-size: 2.25rem;
  font-weight: 400;
  align-self: center;
  text-align: center;
  padding: 6.75rem 3.6875rem;
  width: 15.375rem;
  margin: 0px 0px;
  background-color: var(--bcolor1);
}

#d3::before {
  content: "";
  z-index: 11;
}

#d4 {
  color: var(--tcolor1);
  text-align: justify;
  align-self: center;
  width: 75.3125rem;
  margin: auto 3.1875rem;
}

/* WhiteSection_2 */
#WhiteSection_2 {
  position: relative;
  top: 432px;
  background-color: white;
  margin: 6.25rem auto;
  height: 58.9375rem;
  width: 61.41875rem;
}

#Location {
  display: flex;
  flex-direction: column;
}

#Loc_img {
  width: 42.5rem;
  height: 17.375rem;
}

#Location div {
  display: flex;
}

#Location div p {
  color: white;
  font-size: 2.25rem;
  font-weight: 400;
  align-self: center;
  text-align: center;
  padding: 7.3125rem 3.5625rem;
  width: 11.875rem;
  height: 2.75rem;
  margin: 0px 0px;
  background-color: var(--bcolor1);
}

#Location div p > span {
  padding-bottom: 1.125rem;
}

#Location > p {
  color: var(--tcolor1);
  align-self: center;
  margin: 4.0625rem 12.5rem;
  text-align: center;
}

#Location p > a {
  text-decoration: none;
  transition: all;
  transition-duration: 0.3s;
  position: relative;
  top: 1.4375rem;
}

#Location p > a:hover {
  color: var(--hcolor1);
}

/* Review */
#review {
  margin-top: 2.5rem;
}

#review > div {
  background-color: var(--bcolor1);
  text-align: justify;
  margin: 0px 0px;
  padding: 1.5625rem 2.9375rem;
  height: 20.625rem;
  color: white;
}

#review div div {
  margin: 3.25rem 0rem;
}

#review div p span {
  padding-bottom: 1.25rem;
}

#review div p {
  color: white;
  font-size: 2.25rem;
}

#review div a {
  text-decoration: none;
  color: white;
  transition: all;
  transition-duration: 0.3s;
}

#review div a:hover {
  color: var(--hcolor1);
}

#review img {
  height: 23.75rem;
}

/* End */
#end {
  position: relative;
  top: 27rem;
  margin: 6.25rem auto;
  height: 23rem;
  width: 60.625rem;
  justify-content: space-between;
}

#end a {
  text-decoration: none;
  transition: all;
  transition-duration: 0.3s;
  color: var(--tcolor1);
}

#end a:hover {
  color: var(--bcolor1);
}

.end_items div {
  margin-top: 2.8125rem;
}

#end_item1 {
  flex-basis: 22.8125rem;
}

#end_item1 a + div {
  font-size: 0.8rem;
  margin-top: 10.3125rem;
}

#end_item2 {
  flex-basis: 14.6875rem;
}

#end_item3 {
  flex-basis: 18.125rem;
}

#end_item3 input {
  margin-top: 2.9375rem;
  width: 15.3125rem;
  height: 1.875rem;
  text-align: center;
  color: var(--hcolor1);
  font-size: 1.0625rem;
  transition: all;
  transition-duration: 0.3s;
}

#end_item3 input:hover {
  border: 0.125rem solid var(--tcolor1);
}

#end_item3 button {
  width: 15.8125rem;
  margin-top: 0.625rem;
  height: 2.0625rem;
  text-align: center;
  color: white;
  background-color: var(--logo_color);
  font-size: 17px;
  transition: all;
  transition-duration: 0.3s;
}

#end_item3 button:hover {
  background-color: white;
  color: var(--tcolor1);
}

#end > div {
  flex-direction: column;
  color: var(--tcolor1);
}

#end div div + a {
  margin-top: 1.25rem;
}

#end div span {
  padding-bottom: 2.0625rem;
}

#logos {
  flex-direction: row;
}

#logos a {
  margin: 0.3125rem 0rem;
  margin-right: 1.375rem;
  height: 2.0625rem;
  width: 2.0625rem;
}

#logos a img {
  height: 2.0625rem;
  width: 2.0625rem;
}

/* body */
body {
  background-color: rgb(201, 201, 201, 45%);
  margin: 0px 0px;
}

html {
  scroll-behavior: smooth;
}

header {
  margin: 0px 0px;
}

header > img {
  /* content: ""; */
  position: absolute;
  /* bottom: 0px; */
  /* background-image: url(back.jpg); */
  background-repeat: no-repeat;
  height: 55rem;
  width: 100%;
  z-index: -1;
}

/* Utility Classes */
.font1 {
  font-size: 1rem;
  font-family: "Gugi", cursive;
}

.font2 {
  font-size: 1rem;
  font-family: "Cinzel", serif;
}

.font3 {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.btn {
  position: relative;
  top: 0.5625rem;
  padding: 0.375rem 6.75rem;
  margin: 0.125rem 0.125rem;
}

.line {
  position: relative;
  width: 2.5rem;
  border-bottom: 3px solid #cbce91ff;
  margin-bottom: 2.5rem;
  z-index: 1000;
}
